<nav class="ie-nav" id="ie-nav" aria-label="主导航">
  <a href="/" class="ie-nav__brand">Inevitable Event</a>

  <button class="ie-nav__toggle" id="ie-nav-toggle" aria-label="菜单" aria-expanded="false">
    <span aria-hidden="true">Menu</span>
  </button>

  <ul class="ie-nav__links" id="ie-nav-links" role="list">
    <li><a href="/projects/" class="ie-nav__link">Projects</a></li>
    <li><a href="/writing/" class="ie-nav__link">Writing</a></li>
    <li><a href="/about/" class="ie-nav__link">About</a></li>
    <li><a href="mailto:helloandone@gmail.com" class="ie-nav__link">Contact</a></li>
  </ul>
</nav>
